$black: #1d2631;
$light-black: #0d0d0d;

$white: #ffffff;
$light-white: #e4e8f0;

$grey: #57626e;
$medium-grey: #a4adb5;
$light-grey: #eceef1;

$orange: #fb9032;
$light-orange: #ffead0;
$dark-orange: #fbb766;
$darker-orange: #e07c06;

$active-blue: #3066a3;
$aqcua-blue: #5ba4f6;
$blue: #4b8dd7;
$lighter-blue: #73b0f5;
$dark-blue: #1d2631;
$light-blue: #e5f3ff;

$green: #45a777;
$lighter-green: #74dca9;
$light-green: #dcfce7;
$dark-green: #318c60;

$red: #e96760;
$light-red: #ffe4e2;
$medium-red: #f58a84;
$dark-red: #ce544d;

$purple: #5f60c2;
$light-purple: #e1e2ff;

$yellow: #ffd422;
$light-yellow: #ffe473;
$dark-yellow: #e0bb25;
