$blacker: #000000;
$black: #1d1d1d;
$light-black: #0d0d0d;

$white: #ffffff;
$light-white: #e4e8f0;

$dark-grey: #4d4d4d;
$grey: #5d5d5d;
$pale-grey: #7b7b7b;
$medium-grey: #a4a4a4;
$upper-grey: #cccccc;
$light-grey: #e2e2e2;
$lighter-grey: #ececec;

$orange: #fb9032;
$light-orange: #ffead0;
$dark-orange: #fbb766;
$darker-orange: #e07c06;

$active-blue: #3066a3;
$aqcua-blue: #5ba4f6;
$blue: #4b8dd7;
$dark-blue: #1d2631;
$mild-dark-blue: #273340;
$light-blue: #e5f3ff;
$lighter-blue: #73b0f5;
$hard-blue: #f6f9fd;
$soft-blue: #f9fafd;

$green: #45a777;
$light-green: #dcfce7;
$lighter-green: #74dca9;
$dark-green: #318c60;

$red: #e96760;
$dark-red: #ce544d;
$medium-red: #f58a84;
$light-red: #ffe4e2;

$purple: #5f60c2;
$light-purple: #e1e2ff;

$yellow: #ffd422;
$dark-yellow: #e0bb25;
$light-yellow: #ffe473;

$transparent: transparent;

$dark: $dark-blue;

$error: $dark-red;
$warning: $darker-orange;
$success: $dark-green;
