$black: #1d2631;
$white: #ffffff;
$grey: #57626e;
$light-grey: #eceef1;
$pale-grey: #6b778c;
$orange: #fb9032;
$light-orange: #ffead0;
$blue: #4b8dd7;
$light-blue: #e5f3ff;
$green: #45a777;
$light-green: #dcfce7;
$red: #e96760;
$light-red: #ffe4e2;
$purple: #5f60c2;
$light-purple: #e1e2ff;
