@import "colors.scss";

$main-color: #1d1d1d;
$higher-color: #000000;
$lower-color: #2d2d2d;
$disabled-color: #e2e2e2;
$border-color: #f2f2f2;
$selected-color: #f8f8f8;
$active-color: #eeeeee;
$link-color: #4078c0;
$link-hover-color: #4078c0;
$label-color: #8d8d8d;
$font-family: Lato, sans-serif;
$grey-5: #f6f7f9;
$grey-3: #dde0e2;
$grey-6: #f9fafd;