@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

body {
    background: #ffffff;
    color: #4d4d4d;
    font-family: Lato, sans-serif;
    font-size: 14px;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    min-height: 100%;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
